@model Car_Rental_System.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHome";
}
@section Topbar {
    @await Component.InvokeAsync("Topbar")
}

@section Navbar {
    @await Component.InvokeAsync("Navbar")
}
@section Footer {
    @await Component.InvokeAsync("Footer")
}


<!-- Chon StartDate va EndDate-->
<div class="container d-flex justify-content-center mt-4">
    <form method="post" asp-action="shop" asp-controller="Home"
        class="p-3 bg-light rounded shadow d-flex align-items-center gap-3">
        <div class="d-flex flex-column">
            <label for="startDate" class="form-label mb-1">Bắt đầu</label>
            <input type="text" id="startDate" name="startDate" class="form-control" placeholder="Chọn ngày">
        </div>
        <div class="d-flex flex-column">
            <label for="endDate" class="form-label mb-1">Kết thúc</label>
            <input type="text" id="endDate" name="endDate" class="form-control" placeholder="Chọn ngày">
        </div>
        <div class="d-flex align-items-end px-4 h-100">
            <button type="submit" class="btn btn-primary px-4 h-100">Lọc</button>
        </div>
    </form>
</div>

<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Xe chất lượng</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-bar-chart text-primary m-0 mr-2" aria-hidden="true"></h1>
                <h5 class="font-weight-semi-bold m-0">Dịch vụ chuyên nghiệp</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center  border mb-4" style="padding: 30px;">
                <h1 class=" text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Thiết lập nhanh chóng</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class=" text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->



<!-- Products Start -->
<div id="service" class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Top Xe thuê</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        @foreach (var item in Model.CarViewModels)
        {
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        @if (item.Images != null && item.Images.Any())
                        {
                            <img class="img-fluid w-100" src="@item.Images.First().ImageUrl" alt="">
                        }
                        else
                        {
                            <span>No Image</span>
                        }
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">@item.Car.Model</h6>
                        <div class="d-flex justify-content-center">
                            <h6>@item.Car.PricePerDay</h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="/Home/Details/@item.Car.Id" class="btn btn-sm text-dark p-0"><i
                                class="fas fa-eye text-primary mr-1"></i>Xem chi tiết</a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Products End -->


<!-- Categories Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Loại xe</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        @foreach (var item in Model.CategoryViewModels)
        {
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <a href="@Url.Action("Shop", "Home", new { searchString = item.Category.Name })"
                        class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="@item.Images.First().ImageUrl" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">@item.Category.Name</h5>
                </div>
            </div>
        }
    </div>
</div>
<!-- Categories End -->




<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                @foreach (var item in Model.BrandViewModels)
                {
                    <div class="vendor-item border p-4">
                        <a href="@Url.Action("Shop", "Home", new { brandIds = item.Brand.Id })"
                            class="cat-img position-relative overflow-hidden mb-3">
                            <img src="@item.Images.First().ImageUrl" alt="">
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->
<input type="datetime-local" value="@ViewBag.StartDate" >
<input type="datetime-local" value="@ViewBag.EndDate" >

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let hasUserSelectedStartDate = false;
        let lastSelectedTime = null;

        function getFutureTime(minutes) {
            let now = new Date();
            now.setMinutes(now.getMinutes() + minutes);
            now.setSeconds(0, 0);
            return now;
        }

        // Nhận giá trị từ ViewData
        let startDate = '@ViewData["StartDate"]' !== 'null' ? new Date('@ViewData["StartDate"]') : getFutureTime(10);
        let endDate = '@ViewData["EndDate"]' !== 'null' ? new Date('@ViewData["EndDate"]') : new Date(startDate.getTime() + 60 * 60000);
    console.log(startDate);
    console.log(endDate);
        let startPicker = flatpickr("#startDate", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            minDate: getFutureTime(10),
            defaultDate: startDate,
            onChange: function (selectedDates) {
                hasUserSelectedStartDate = true;
                lastSelectedTime = selectedDates[0];

                let minEndDate = new Date(selectedDates[0].getTime() + 10 * 60000);
                endPicker.set("minDate", minEndDate);

                if (!endPicker.selectedDates.length || endPicker.selectedDates[0] < minEndDate) {
                    endPicker.setDate(minEndDate);
                }
            }
        });

        let endPicker = flatpickr("#endDate", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            minDate: getFutureTime(70),
            defaultDate: endDate
        });

        setInterval(() => {
            if (!hasUserSelectedStartDate) {
                let newTime = getFutureTime(10);
                startPicker.set("minDate", newTime);
                @* startPicker.setDate(newTime, false); *@

                let minEndDate = new Date(newTime.getTime() + 10 * 60000);
                endPicker.set("minDate", minEndDate);
            }
        }, 1000);
    });
</script>
